<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>NO TITLE BRO</title>
    {% endif %}
    {% block css %}{% endblock %}
    <script src="/static/js/jquery.min.js"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    <div><a href="/index">Home</a></div>
    <div><a href="/logout">Logout</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>