{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<style type="text/css">
#map { height: 480px; }
</style>
{% endblock %}
{% block js %}
 <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
 <script src="/static/js/leaflet-providers.js"></script>
{% endblock %}
{% block content %}
	<h1>{{ trip.name }} - Day {{ day_num }}</h1>
	<div id="map"></div>
	<script type="text/javascript">
	// create a map in the "map" div, set the view to a given place and zoom
		var locations = {{ locations | safe }};
		var centroid = {{ centroid | tojson  }};
		var route = {{ route | tojson }};
		var zoom = {{ zoom }};
		var map = L.map('map').setView(centroid, zoom);
		L.tileLayer.provider('Stamen.Watercolor').addTo(map);

		//Add route to map
		if(route){
			L.polyline(route, {color: 'red'}).addTo(map);
		}

		//Add location markers to map
		for(var i = 0; i < locations.length; i++ ){
			var l = locations[i];
			createMarker(l.latitude, l.longitude, l.name);
		}

		function createMarker(lat, lng, name){
			L.marker([lat, lng]).addTo(map)
		    .bindPopup(name);
		}
	</script>
{% endblock %}