<style type="text/css">
	.delete-location{
		float:right;
		position: relative;
		top: -7px;
	}
</style>
<script type="text/javascript" src="/static/js/sortable.min.js"></script>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">{{ trip.name }} - Day {{ day_num }}</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group" id="locations">
				{% for location in locations %}
					<li class="list-group-item" data-id="{{ location.id }}">
						{{ location.name }}
						<button class="delete-location btn btn-default">Remove</button>
					</li>
				{% endfor %}
			</ul>
			<div class="input-group">
				<input type="text" class="form-control" id="location-input">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" id="add-location">Add</button>
		      </span>
		    </input>
	    </div>
	  </div>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal">Discard Changes</button>
  <button type="button" class="btn btn-primary" id="done">Save changes</button>
</div>

<script type="text/javascript">
	var locationsList = document.getElementById("locations");
	new Sortable(locationsList, {onUpdate: function(event){ listSorted(event); } });

	$("#add-location").click(addLocation);
	$(".delete-location").click(deleteLocation);
	$("#done").click(done);

	function addLocation(){
		var location = $("#location-input").val();
		var url = '/trip/' + {{ trip.id }} + '/' + {{ day_num }} + '/_add/' + location;
		$.getJSON(url, function (data){
			var html = '<li class="list-group-item" data-id="' + data.id + '">' + data.name + '<button class="delete-location btn btn-default">Remove</button></li>';
			$('#locations').append(html)
			$("#location-input").val("");
		});
	}

	function deleteLocation(e){
		var item = $(this).parent();
		var locationId = item.data("id");
		var url = '/_remove_location/' + locationId;
		$.getJSON(url, function (data){ //Currently doesn't return any JSON. Maybe use a different jquery call?
			item.remove();
			listSorted();
		});
	}

	function listSorted(event){
		// Called when the list is changed. Send new order to server to be saved.
		locations = [];
		$('#locations > li').each(function(d){
			locations.push($(this).data("id"));
		});
		$.ajax({
      type: "POST",
      url: '/reorder_locations',
      dataType: 'json',
      async: false,
      data: JSON.stringify(locations),
      contentType: "application/json; charset=utf-8",
    });
	}

	function done(){
		window.location.replace( "/trip/" + {{ trip.id }} + "/" + {{ day_num }} );
	}

</script>