{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/elastislide.css" />
	<style type="text/css">
		#map { height: 480px; }	
		.elastislide-vertical {
			padding: 37px 10px;
		}

		.elastislide-vertical:before {
			top: 30px;
			bottom: 30px;
			left: 0;
			right: 0;
			content: " ";
			position: absolute;
			z-index: -2;
		}

		.elastislide-vertical:after {
			content: " ";
			position: absolute;
			z-index: -2;
		}
	</style>
{% endblock %}
{% block js %}
	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script src="/static/js/leaflet-providers.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.17475.js"></script>
	<script type="text/javascript" src="/static/js/jquerypp.custom.js"></script>
	<script type="text/javascript" src="/static/js/jquery.elastislide.js"></script>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>{{ trip.name }}</h1>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<ul class="nav nav-tabs">
				<li class="trip-all active"><a href="#">All</a></li>
				{% for day in trip_data %}
					<li class="trip-day" data-id="{{ day.num }}"><a href="#">Day {{ day.num }} - {{ day.date }}</a></li>
				{% endfor %}
				<li id="add-day"><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
			</ul>
			<div id="map"></div>
		</div>
		<div class="col-md-3">
			<button id="locations-modal-btn" class="btn btn-primary" data-toggle="modal" href="" data-target="#locations-modal">Edit Locations</button>
			<ul id="carousel" class="elastislide-list">
				{% for image in images %}
		    	<li><a href="{{ url_for('image', image_id = image.id) }}"><img class="thumbnail" src="/uploads/{{ image.path }}" alt="{{ image.name }}" /></a></li>
		    {% endfor %}
			</ul>
			<div class="well well-lg">
				<p>Upload an image.<span class="glyphicon glyphicon-plus"></span></p>
				<form action="" method=post enctype=multipart/form-data>
      		<input type=file name=file>
         	<input type=submit value=Upload>
        </form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="locations-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
		$('#carousel').elastislide({orientation:'vertical', minItems : 2,});
		$("#add-day").click(addDay);

		var locationsModalButton = $('#locations-modal-btn');
		locationsModalButton.hide();

		var active = $('.trip-all');
		var tripData = {{ trip_data | tojson }};
		var tilesets = {{ trip.get_tilesets() | tojson }};
		var totalRoute = {{ total_route | tojson }};
		var map = L.map('map').setView(totalRoute.centroid, totalRoute.zoom);

		// The following line will need to change when selecting multiple tilesets is enabled.
		L.tileLayer.provider(tilesets[0]).addTo(map);

		//Add route to map
		var polyline = L.polyline(totalRoute.route, {color: 'red'}).addTo(map);

		//Add location markers to map
		var markers = [];
		for(var i = 0; i < totalRoute.locations.length; i++ ){
			var l = totalRoute.locations[i];
			markers.push(L.marker([l.latitude, l.longitude]).bindPopup(l.name));
		}
		var markerLayer = L.layerGroup(markers).addTo(map);

		$('.trip-all').click(function(){
			if ($(this) != active){
				locationsModalButton.hide();
				//Set map dimensions
				map.setView(totalRoute.centroid, totalRoute.zoom);
				//Add route
				polyline.setLatLngs(totalRoute.route);
				//Add markers
				markerLayer.clearLayers();
				markers = [];
				for(var i = 0; i < totalRoute.locations.length; i++ ){
					var l = totalRoute.locations[i];
					markers.push(L.marker([l.latitude, l.longitude]).bindPopup(l.name));
				}
				markerLayer = L.layerGroup(markers).addTo(map);
				active.removeClass('active');
				$(this).addClass('active');
				active = $(this);
			};
		});

	$('.trip-day').click(dayClicked);

	function dayClicked(){
		if ($(this) != active){
			var index = $(this).data("id")-1;
			var day = tripData[index];
			locationsModalButton.show();
			locationsModalButton.attr("href", "/trip/{{ trip.id }}/" + $(this).data("id") + "/edit");
			//Set map dimensions
			map.setView(day.centroid, day.zoom);
			//Add route
			polyline.setLatLngs(day.route);
			//Add markers
			markerLayer.clearLayers();
			markers = [];
			for(var i = 0; i < day.locations.length; i++ ){
				var l = day.locations[i];
				markers.push(L.marker([l.latitude, l.longitude]).bindPopup(l.name));
			}
			markerLayer = L.layerGroup(markers).addTo(map);
			active.removeClass('active');
			$(this).addClass('active');
			active = $(this);
		};
	}
	
	function createMarker(lat, lng, name){
			L.marker([lat, lng]).addTo(map)
		    .bindPopup(name);
		}

	function addDay(){
		var lastTab = $("#add-day");
		var url = '/trip/' + {{ trip.id }} + '/_add_day';
		$.getJSON(url, function (data){
			//Add new day to tabs.
			var html = '<li class="trip-day" data-id="' + data.num + '"><a href="#">Day ' + data.num + ' - ' + data.date + '</a></li>';
			var newDay = $(html).insertBefore(lastTab);
			$(newDay).click(dayClicked);
			reloadRouteData();
		});
	}
	
	function reloadRouteData(){
		//Reload the data.
	}

	</script>
{% endblock %}